<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Page Redirection</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
		<h1> Welcom EJS Template Engine </h1>
    </body>
</html>

